doctype html
head
  title Bootstrap Example
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css' rel='stylesheet')
  link(rel='stylesheet' href='/form2/Home_page.html')
  script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js')
.container.mt-3
  h2 Stacked form
  form(action='/action_page.php')
    .mb-3.mt-3
      label(for='email') Email:
      input#email.form-control(type='email' placeholder='Enter email' name='email')
    .mb-3
      label(for='pwd') Password:
      input#pwd.form-control(type='password' placeholder='Enter password' name='pswd')
    .form-check.mb-3
      label.form-check-label
        input.form-check-input(type='checkbox' name='remember')
        |  Remember
        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;me
    button.btn.btn-primary(type='submit') Submit
script(src='/index.js')
